<div class="container mt-4">
    <h2 class="mb-3">Products</h2>

    <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Search...">

    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Count</th>
          
        </tr>
      </thead>
      <tbody *ngIf="products.length>0">
        <tr *ngFor="let product of products | tableSearch: searchText">
          <!-- <td>{{ product.id }}</td> -->
          <td>{{ product[0] }}</td>
          <td>{{ product[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  