<div class="container mt-4">
    <h2>Expenses List</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Sr.</th>
            <th>User Name</th>
            <th>Amount</th>
            <th>Payment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of expenseList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.user.name }}</td>
            <td>{{ item.paidAmount }}</td>
            <td>{{ item.paidDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>