<div class="container mt-4">
  <h2 class="mb-3">Orders</h2>

  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#printModalBulk" (click)="printLabels()"
    style="margin-left: 5px;">
    <i class="bi bi-printer"></i> Print Labels
  </button>

  <input type="text" class="form-control mb-3" [(ngModel)]="searchText" placeholder="Search...">

  <div class="table-responsive" style="max-height: 75vh; overflow-y: auto;">
    <table class="table table-bordered table-striped">
      <thead class="table-dark position-sticky top-0">
        <tr>
          <th>
            <input type="checkbox" (change)="toggleSelectAll($event)">
          </th>
          <th>Name</th>
          <th>Shopify Order No.</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Pincode</th>
          <th>Created At</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length > 0">
        <tr *ngFor="let user of users | tableSearch: searchText">
          <td>
            <input type="checkbox" [checked]="isSelected(user.id)" (change)="toggleSelection(user.id)">
          </td>
          <td>{{ user.name }}</td>
          <td>#JBR{{ user.aliasName }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.country }}</td>
          <td>{{ user.pincode }}</td>
          <td>{{ user.createdAt | date }}</td>
          <td style="display: inline-flex;">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
              (click)="getItemsListByUser(user.id)">
              <i class="bi bi-info-circle"></i>
            </button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#printModal" (click)="setUser(user)"
              style="margin-left: 5px;">
              <i class="bi bi-printer"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Display selected users -->
  <p class="mt-3"><strong>Selected Users:</strong> {{ selectedUsers | json }}</p>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Products Ordered by User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-orders [itemsList]="itemList"></app-orders>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="modalPrint" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPrint">Products Ordered by User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="openPrintDialog">
        <app-billing [billData]="selectedUser" [itemsList]="itemList" id="printArea"></app-billing>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [useExistingCss]="true" printSectionId="printArea"
          ngxPrint>Print</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printModalBulk" tabindex="-1" aria-labelledby="modalPrintBulk" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPrintBulk">Products Ordered by User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="openBulkDialog && listOfObjects && listOfObjects.length>0">
        <app-packaging-group [list]="listOfObjects" id="printAreaBulk"></app-packaging-group>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [useExistingCss]="true" printSectionId="printAreaBulk"
          ngxPrint>Print</button>
      </div>
    </div>
  </div>
</div>