<div class="container mt-4">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="userId" class="form-label">User ID</label>
      <select id="userId" class="form-control" formControlName="userId" required>
        <option *ngFor="let val of users" [value]="val.id">{{val.name}}</option>

      </select>
    </div>

    <div class="mb-3">
      <label for="paidAmount" class="form-label">Paid Amount</label>
      <input type="number" id="paidAmount" class="form-control" formControlName="paidAmount" required />
    </div>

    <div class="mb-3">
      <label for="paidDate" class="form-label">Paid Date</label>
      <input type="date" id="paidDate" class="form-control" formControlName="paidDate" />
    </div>

    <div class="mb-3">
      <label for="comments" class="form-label">Comments</label>
      <textarea id="comments" class="form-control" formControlName="comments"></textarea>
    </div>

    <button style="float: right;" type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid">Save
      Expense</button>
  </form>
</div>