<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Rohika</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/compare" routerLinkActive="active">
                        JSON Compare
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/beautifier" routerLinkActive="active">
                        JSON Beautifier
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/restTemplate" routerLinkActive="active">
                        REST Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/yangValidator" routerLinkActive="active">
                        YANG Validator
                    </a>
                </li> -->


                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">
                        Products
                    </a>
                </li>
            </ul>

            <span class="navbar-text text-white">Total Visitors: {{ visitCount }}</span>
        </div>
    </div>
</nav>



<app-notification></app-notification>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>
<!-- <app-json-formatter></app-json-formatter> -->