<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="isAuthenticated()">
    <div class="container-fluid">
        <img src="../assets/Logo.webp" width="80px" height="40px">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto" style="margin-left:30px">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/orders" routerLinkActive="active">
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/expenseList" routerLinkActive="active">
                        Expenses
                    </a>
                </li>
            </ul>

            <span  class="navbar-text text-white" style="margin-right: 20px;">{{ currentDate | date: 'MMMM' }} Sale: {{ currentMonthSales | currency: 'INR' }}</span>
            <span  class="navbar-text text-white" style="margin-right: 20px;">{{ currentDate | date }}</span>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</nav>



<app-notification></app-notification>

<div class="container mt-4" style="margin-left: 0px !important;margin-right: 0px !important;max-width: 100%;">
    <router-outlet></router-outlet>
</div>
<!-- <app-json-formatter></app-json-formatter> -->