<div class="row" style="margin-left: 10px; margin-right: 10px;">
  @if (labels) {
    @for (test of list; track test) {
      <div class="col-6" style="margin-top:10px">
        <app-packaging [billData]="test.billData" [itemsList]="test.itemsList"></app-packaging>
        <div class="page-break-label"></div>
      </div>
    }
  } @else {
    @for (test of list; track test) {
      <div class="col-12 page-break-after" style="margin-top:10px">
        <app-billing [billData]="test.billData" [itemsList]="test.itemsList"></app-billing>
        <div class="page-break-billing"></div>
      </div>
    }
  }
</div>
