<div class="container mt-4">
    <h4 class="text-center">JSON Beautifier</h4>

    <div class="row mt-3">
        <!-- Left JSON Input -->
        <div class="col-md-5">
            <h6>JSON Input:</h6>
            <textarea [(ngModel)]="jsonInput1" rows="20" class="form-control"></textarea>
        </div>

        <!-- Buttons in Center -->
        <div class="col-md-2 d-flex flex-column" style="margin-top:100px">
            <button class="btn btn-info my-2" (click)="addSample()">Sample Input</button>
            <button class="btn btn-primary my-2" (click)="beautifyJson()">Beautify</button>
            <button class="btn btn-primary my-2" (click)="minifyJson()">Minification</button>
            <button class="btn btn-primary my-2" (click)="validate()">Validate</button>
        </div>

        <div class="col-md-5">
            <h6>Output:
                <button class="btn btn-secondary my-2" (click)="copyToClipboardOutput2()">Copy</button>
                <textarea [(ngModel)]="highlightedJson1" rows="20" class="form-control" readonly></textarea>
            </h6>
        </div>

    </div>
</div>