<div class="container mt-4">
  <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
    Order Number::  #JBR{{itemsList[0]?.narration}}
    <table class="table table-bordered table-striped">
      <thead class="table-dark position-sticky top-0">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody *ngIf="itemsList.length > 0">
        <tr *ngFor="let item of itemsList">
          <td>{{ item.productTitle ? item.productTitle:item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.unitPrice | currency: 'INR' }}</td>
        </tr>
        <tr>
          <td>Total::</td>
          <td></td>
          <td>{{ totalAmount | currency: 'INR' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row col-md-5" *ngIf="itemsList.length > 0" style="float: right;">
    <label>Tax Amount:: {{itemsList[0].taxAmount}}</label>
    <br>
    <label>Total Amount:: {{itemsList[0].billAmount}}</label>
    <br *ngIf="itemsList[0].discount">
    <label *ngIf="itemsList[0].discount">Discount:: -{{itemsList[0].discount}}</label>
    <br>
    <label>Final Amount:: {{itemsList[0].totalAmount}}</label>
  </div>
</div>