<div class="container mt-4">
    <h4 class="text-center">JSON Formatter</h4>

    <div class="row mt-3">
        <!-- Left JSON Input -->
        <div class="col-md-5">
            <h6>JSON Input 1:</h6>
            <textarea [(ngModel)]="jsonInput1" rows="20" class="form-control"></textarea>
            <br>
            <h6>Output 1:
                <button class="btn btn-secondary my-2" (click)="copyToClipboardOutput1()">Copy</button>
            </h6>
            <div class="json-container form-control mt-2" [innerHTML]="highlightedJson1"></div>
        </div>

        <!-- Buttons in Center -->
        <div class="col-md-2 d-flex flex-column" style="margin-top:100px">
            <button class="btn btn-info my-2" (click)="addSample()">Sample Input</button>
            <button class="btn btn-primary my-2" (click)="beautifyJson()">Beautify</button>
            <button class="btn btn-success my-2" (click)="compareJson()">Compare</button>
            <button class="btn btn-danger my-2" (click)="clearAll()">Clear</button>
        </div>

        <!-- Right JSON Input -->
        <div class="col-md-5">
            <h6>JSON Input 2:</h6>
            <textarea [(ngModel)]="jsonInput2" rows="20" class="form-control"></textarea>
            <br>
            <h6>Output 2:
                <button class="btn btn-secondary my-2" (click)="copyToClipboardOutput2()">Copy</button>
            </h6>

            <div class="json-container form-control mt-2" [innerHTML]="highlightedJson2"></div>
        </div>
    </div>

    <div class="mt-4">
        <h6>Comparison Result:</h6>
        <pre class="p-3 bg-light border rounded">{{ comparisonResult }}</pre>
    </div>
</div>